@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Firefox */
    .base-scrollbar {
      scrollbar-width: auto;
      scrollbar-color: #547fa0 #ffffff;
    }

    /* Chrome, Edge, and Safari */
    .base-scrollbar::-webkit-scrollbar {
      width: 5px;
    }

    .base-scrollbar::-webkit-scrollbar-track {
      background: border-gray-600;
    }

    .base-scrollbar::-webkit-scrollbar-thumb {
      @apply bg-blue-300;
      border-radius: 10px;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
